* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

// a {
//     color: inherit;
//     text-decoration: none;
// }

// scss variables
// color variables
$primary-color: #6f0dcc;
$secondary-color: #de8e68;
$dark-primary: #5702a7;
$accent-color: #c9870d;
$white-color: #ffffff;
$grey-color: #faf7fa;
$danger-color: #b60c53;
$dark-color: #4a5568;
$success: #12c397;
$dark-grey: #444;
$orange: #f8910b;
$orange2: #f5a339;

// Scss keyframes
@keyframes linkAnimation {
    0% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
    50% {
        background: lighten($primary-color, 45%);
        background-position: left center;
        color: $white-color;
    }
    100% {
        background: $white-color;
        background-position: left center;
        color: $primary-color;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

// pulse
@keyframes pulse {
    0% {
        background: #eee;
    }
    30% {
        background: darken(#eee, 5%);
    }

    70% {
        background: darken(#eee, 10%);
    }

    100% {
        background: darken(#eee, 15%);
    }
}

// spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// bounce
@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateY(25px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-20px);
    }
}

// Scss mixins
/* * flex center mixin */
@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// display flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// display grid
@mixin Grid($gap: 1rem, $num_rows: 3) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($num_rows, 1fr);
}

// translate transform
@mixin transLate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Styles starts here

.progress-bar {
    z-index: 50;
}

// paragram styles
.paragraph {
    img {
        object-fit: contain;
        width: auto;
        height: auto;
        border-radius: 10px;
    }

    ul,
    ol {
        margin-left: 2rem;
    }

    h1,
    h2,
    h3 {
        margin: 1rem auto;
        font-size: 1.2rem;
        font-weight: 600;
    }

    a {
        font-style: italic;
        color: $primary-color;
        border-bottom: 1px solid lighten($primary-color, 40%);
    }

    pre {
        border: 1px solid #2d3748;
        font-family: 'Overpass Mono';
        padding: 10px;
        border-radius: 5px;
    }

    blockquote {
        font-style: italic;
        border-left: 5px solid #2d3748;
        padding: 0 10px;
    }
}

.glass-effect {
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}
.glass-effect-dark {
    background: rgba(48, 62, 75, 0.555);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}

.linkactive {
    background: darken($primary-color, 10%);
    border-radius: 10px;
    height: 3rem;
    width: auto;
}
.linkactive-dark {
    background: $dark-color;
    border-radius: 10px;
    height: 3rem;
    color: lighten($primary-color, 30%) !important;
    width: auto;
}

.linkactive-mobile {
    background: lighten($primary-color, 55%);
    border-radius: 10px;
    height: 3rem;
    width: auto;
    color: $primary-color;
}

.linkactive-mobile-dark {
    background: $dark-color;
    border-radius: 10px;
    height: 3rem;
    width: auto;
    color: lighten($primary-color, 30%);
}

// Quill editor
.quill {
    width: 100%;
    font-family: 'Poppins' !important;
}

.ql-toolbar {
    border-radius: 10px 10px 0 0;
    border: 1px solid #eee !important;
}

.ql-container {
    border-radius: 0 0 10px 10px;
    height: 500px !important;
    width: 100%;
    border: 1px solid #eee !important;
    font-size: 15px !important;
}

// drawer
.modal-drawer {
    ::-webkit-scrollbar {
        width: 10px; /* width of the entire scrollbar */
    }
    ::-webkit-scrollbar-thumb {
        background-color: #4a5568; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
    }
}

// react-select
.react {
    &__select {
        z-index: 10;
        &--container {
            width: 100% !important;
            min-height: 3rem;
            height: auto;
        }

        &__control {
            min-height: 3rem !important;
            height: auto;
            border-radius: 5px !important;
            padding: 0 10px;
            border: 1px solid #eee !important;
            background: transparent !important;
            @include flex(row, flex-start, flex-start);
            width: 100% !important;
            overflow-y: auto;
            font-size: 0.9rem;
        }
    }
}
